<launch>
   <!-- <node pkg="ribbon_bridge_sim" type="tf_mul.py" name="tf_mul" /> -->
   <node pkg="ribbon_bridge_sim" type="tf_all_link.py" name="tf_all_link" />
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ribbon_bridge_sim)/config/config.rviz"/>

   <param name="tug_boat_description" textfile="$(find ribbon_bridge_sim)/urdf/tug_boat.urdf" />
   <param name="tug_boat_0_description" textfile="$(find ribbon_bridge_sim)/urdf/tug_boat_0.urdf" />
   <param name="tug_boat_1_description" textfile="$(find ribbon_bridge_sim)/urdf/tug_boat_1.urdf" />
</launch>
